[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
geopandas = "*"
pytest = "*"
kaggle = "*"
pydrive = "*"
scipy = "*"
hydroeval = "*"
rtree = "*"
torch = "==1.2.0"
torchvision = "==0.4.0"
matplotlib = "*"
statsmodels = "*"
seaborn = "*"

[requires]
python_version = "3.7"
